<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WallColorPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5893B46A1E608C4700C5AF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5893B47E1E608C4700C5AF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5893B4891E608C4700C5AF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
